# Python
.venv/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Node
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# ChromaDB
backend/chroma_db/
backend/chroma/

# Cloned repositories
backend/cloned_repos/